<!DOCTYPE html>
<html>
    <head>
        <title>RadioTunes SDK - {{ page.title }}</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/text.css">
        <link rel="stylesheet" href="css/960.css">
        <link rel="stylesheet" href="css/screen.css">
        <link rel="stylesheet" href="css/pygments.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/images/favicon.ico" >
        <script src="js/jquery-1.7.2.min.js"></script>
        <script src="js/slides.min.jquery.js"></script>
        <script>
            $(function(){
                $("#slides").slides({
                    play: 5000,
                    hoverPause: true,
                    pause: 2500
                });
            });
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31613640-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div class="container_12">
            <div id="header" class="grid_12">
                <h1 class="alpha prefix_1 grid_4">RadioTunes SDK</h1>
                <ul class="prefix_2 grid_5 omega">
                    <li><a href="/pricing.html" class="{{ page.menu_pricing }}">Pricing</a></li>
                    <li><a href="/index.html" class="{{ page.menu_home }}">Home</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div id="content" class="grid_12">
                {{ content }}
            </div>
            <div class="clear"></div>
            <div id="footer" class="grid_12">
                <ul class="alpha grid_7">
                    <li class="first"><a href="mailto:info@yakamozlabs.com">Support</a></li>
                    <li><a href="http://twitter.com/kemaltaskin">Twitter</a></li>
                </ul>
                <p class="grid_5 omega">Copyright &copy; 2012 <a href="http://yakamozlabs.com">Yakamoz Labs</a></p>
            </div>
        </div>
    </body>
</html>

